In [1]:
# Создание таблицы Students

import sqlite3

connection = sqlite3.connect('students.db')
cursor = connection.cursor()
query = """CREATE TABLE Students (
Student_Id INTEGER NOT NULL PRIMARY KEY,
Student_Name TEXT NOT NULL,
School_Id INTEGER NOT NULL);"""
cursor.execute(query)
connection.commit()
connection.close()

In [2]:
# Наполнение таблицы Students

connection = sqlite3.connect('students.db')
cursor = connection.cursor()
query = """INSERT INTO Students (Student_Id , Student_Name , School_Id)
VALUES
('201', 'Иван', 1),
('202', 'Петр', 2),
('203', 'Анастасия', 3),
('204', 'Игорь', 4);"""
cursor.execute(query)
connection.commit()
connection.close()

In [3]:
# Вывод информации о школе и студенте

import sqlite3

def get_school_name(school_id):
  con = sqlite3.connect("Schools.db")
  cur = con.cursor()
  query = "SELECT * FROM School WHERE School_Id = ?"
  cur.execute(query,(school_id,))
  rec = cur.fetchone()
  con.close()
  return rec[1]

def get_student(student_id):
  con = sqlite3.connect("students.db")
  cur = con.cursor()
  query = "SELECT * FROM Students WHERE Student_id = ?"
  cur.execute(query,(student_id,))
  rec = cur.fetchall()
  for raw in rec:
    print ("ID студента:", raw[0])
    print ("Имя студента:", raw[1])
    print ("ID школы:", raw[2])
    print ("Название школы:",get_school_name(raw[2]))
  con.close()
get_student(201)

ID студента: 201
Имя студента: Иван
ID школы: 1
Название школы: Протон